.root-column-vz0v23r {
  position: relative;
  width: 100px;
}
.cell-boundaries-23nv0923f {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}
.concentration-pos-x094g0aa {
  background-color: #fff;
  height: 1px;
}
.concentrations-overlay-v09ajv {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}
